{% load static %}
<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tell a Story · Alphabet City Project</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'alphabetcity/css/tokens.css' %}" />
  <link rel="stylesheet" href="{% static 'alphabetcity/css/welcome.css' %}" />
</head>

<body>
  <main class="welcome" data-next="{% url 'login' %}">
    <div class="welcome__scenery" aria-hidden="true"
         style="background-image: url('{% static 'alphabetcity/img/welcome-scenery.png' %}');"></div>
    <div class="welcome__texture" aria-hidden="true"></div>

    <img class="welcome__logo" src="{% static 'alphabetcity/img/welcome-logo.png' %}" alt="City of Asylum" />

    <div class="welcome__content">
      <h1 class="welcome__title" aria-label="Tell a Story. Alphabet City Project.">
        <span class="welcome__title-line" data-splittext>TELL A STORY</span>
        <span class="welcome__title-line" data-splittext>ALPHABET CITY PROJECT</span>
      </h1>

      <button type="button" class="welcome__enter" aria-label="Enter">
        <span class="welcome__enter-text" data-splittext>Enter</span>
        <svg class="welcome__arrow" viewBox="0 0 10 22" fill="none" aria-hidden="true">
          <!-- One continuous stroke: tail (5,21) up the shaft to the tip, then
               the chevron. pathLength=100 normalises the dash math. -->
          <path class="welcome__arrow-path" pathLength="100" d="M5,21 L5,2 M1,6 L5,2 L9,6" />
        </svg>
      </button>
    </div>

    <footer class="welcome__footer">
      <nav class="welcome__langs" aria-label="Language">
        <button type="button" class="welcome__lang is-active">EN</button>
        {# Additional languages (MY, UK) hidden until translations are ready. #}
      </nav>
      <a class="welcome__privacy" href="#">PRIVACY INFORMATION</a>
    </footer>

    <div class="welcome__fade" aria-hidden="true"></div>
  </main>

  <div id="privacy-panel" class="privacy-panel">
    <div class="privacy-card" role="dialog" aria-modal="true" aria-label="Privacy Information">
      <button id="privacy-close" class="privacy-close" aria-label="Close">&times;</button>

      <h1>Privacy Policy</h1>
      <p class="privacy-meta">Type of website: Survey website<br />
        Effective date: 2026 day of July, 22</p>

      <p>alphabetcityproject.org (the "Site") is owned and operated by Kyle Luo.
        Kyle Luo can be contacted at:</p>
      <address>kyleluo@andrew.cmu.edu<br />(650) 701-5871<br />5500 Raleigh St, Pittsburgh, PA</address>

      <h2>Purpose</h2>
      <p>The purpose of this privacy policy (this "Privacy Policy") is to inform users
        of our Site of the following:</p>
      <ol>
        <li>The personal data we will collect;</li>
        <li>Use of collected data;</li>
        <li>Who has access to the data collected;</li>
        <li>The rights of Site users; and</li>
        <li>The Site's cookie policy.</li>
      </ol>
      <p>This Privacy Policy applies in addition to the terms and conditions of our Site.</p>

      <h2>Consent</h2>
      <p>By using our Site users agree that they consent to:</p>
      <ol>
        <li>The conditions set out in this Privacy Policy; and</li>
        <li>The collection, use, and retention of the data listed in this Privacy Policy.</li>
      </ol>

      <h2>Personal Data We Collect</h2>
      <p>We only collect data that helps us achieve the purpose set out in this Privacy
        Policy. We will not collect any additional data beyond the data listed below
        without notifying you first.</p>

      <h3>Data Collected in a Non-Automatic Way</h3>
      <p>We may also collect the following data when you perform certain functions on our Site:</p>
      <ol>
        <li>Personal stories, anonymous.</li>
      </ol>
      <p>This data may be collected using the following methods:</p>
      <ol>
        <li>User input.</li>
      </ol>

      <h2>How We Use Personal Data</h2>
      <p>Data collected on our Site will only be used for the purposes specified in this
        Privacy Policy or indicated on the relevant pages of our Site. We will not use
        your data beyond what we disclose in this Privacy Policy.</p>
      <p>The data we collect when the user performs certain functions may be used for the
        following purposes:</p>
      <ol>
        <li>Display on main page.</li>
      </ol>

      <h2>Who We Share Personal Data With</h2>
      <h3>Employees</h3>
      <p>We may disclose user data to any member of our organization who reasonably needs
        access to user data to achieve the purposes set out in this Privacy Policy.</p>

      <h3>Other Disclosures</h3>
      <p>We will not sell or share your data with other third parties, except in the
        following cases:</p>
      <ol>
        <li>If the law requires it;</li>
        <li>If it is required for any legal proceeding;</li>
        <li>To prove or protect our legal rights; and</li>
        <li>To buyers or potential buyers of this company in the event that we seek to
          sell the company.</li>
      </ol>
      <p>If you follow hyperlinks from our Site to another Site, please note that we are
        not responsible for and have no control over their privacy policies and practices.</p>

      <h2>How Long We Store Personal Data</h2>
      <p>User data will be stored until the purpose the data was collected for has been achieved.</p>
      <p>You will be notified if your data is kept for longer than this period.</p>

      <h2>How We Protect Your Personal Data</h2>
      <p>In order to protect your security, we use the strongest available browser
        encryption (HTTPS) and store all of our data on cloud servers in secure facilities.
        All data is only accessible to our employees.</p>
      <p>While we take all reasonable precautions to ensure that user data is secure and
        that users are protected, there always remains the risk of harm. The Internet as a
        whole can be insecure at times and therefore we are unable to guarantee the security
        of user data beyond what is reasonably practical.</p>

      <h2>Children</h2>
      <p>We do not knowingly collect or use personal data from children under 13 years of
        age. If we learn that we have collected personal data from a child under 13 years of
        age, the personal data will be deleted as soon as possible. If a child under 13 years
        of age has provided us with personal data their parent or guardian may contact our
        privacy officer.</p>

      <h2>How to Access, Modify, Delete, or Challenge the Data Collected</h2>
      <p>If you would like to know if we have collected your personal data, how we have used
        your personal data, if we have disclosed your personal data and to who we disclosed
        your personal data, or if you would like your data to be deleted or modified in any
        way, please contact our privacy officer here:</p>
      <address>Kyle Luo<br />kyleluo@andrew.cmu.edu<br />(650) 701-5871<br />5500 Raleigh St, Pittsburgh, PA</address>

      <h2>How to Opt-Out of Data Collection, Use or Disclosure</h2>
      <p>In addition to the method(s) described in the <em>How to Access, Modify, Delete, or
        Challenge the Data Collected</em> section, we provide the following specific opt-out
        methods for the forms of collection, use, or disclosure of your personal data
        specified below:</p>
      <ol>
        <li>You can opt-out of the use of your personal story for grant-writing assistance
          purposes. You can opt-out by clicking "I do not want my personal story to be used
          for grant writing assistance purposes" while submitting your answer.</li>
      </ol>

      <h2>Cookie Policy</h2>
      <p>A cookie is a small file, stored on a user's hard drive by a website. Its purpose is
        to collect data relating to the user's browsing habits. You can choose to be notified
        each time a cookie is transmitted. You can also choose to disable cookies entirely in
        your internet browser, but this may decrease the quality of your user experience.</p>
      <p>We use the following types of cookies on our Site:</p>
      <ol>
        <li><span class="privacy-term">Functional cookies</span><br />Functional cookies are
          used to remember the selections you make on our Site so that your selections are
          saved for your next visits.</li>
      </ol>

      <h2>Modifications</h2>
      <p>This Privacy Policy may be amended from time to time in order to maintain compliance
        with the law and to reflect any changes to our data collection process. When we amend
        this Privacy Policy we will update the "Effective Date" at the top of this Privacy
        Policy. We recommend that our users periodically review our Privacy Policy to ensure
        that they are notified of any updates. If necessary, we may notify users by email of
        changes to this Privacy Policy.</p>

      <h2>Contact Information</h2>
      <p>If you have any questions, concerns or complaints, you can contact our privacy
        officer, Kyle Luo, at:</p>
      <address>kyleluo@andrew.cmu.edu<br />(650) 701-5871<br />5500 Raleigh Ave, Pittsburgh, PA</address>

      <p class="privacy-copyright">&copy;2002-2026 LawDepot.com&reg;</p>
    </div>
  </div>

  <script src="{% static 'alphabetcity/js/welcome.js' %}" defer></script>
</body>

</html>
